DATABASE_URL="postgres://USER:PASSWORD@HOST:5432/postgres?sslmode=require"
NEXTAUTH_SECRET="KgQMgyCPo0qFUCCFSNBeuKfuOO3D48UlByx6SopUvCI="
NEXTAUTH_URL="http://localhost:3000"
STRIPE_SECRET_KEY="RqS8Vmykpgu/V9wWzNIzd7err8jifdZFo3Z5ue0fxiE="